{% extends "base.njk" %}

{% block content %}
  <img src="/img/logo.png" alt="Root-relative, in Nunjucks" />
  <img src="../img/photo.jpg" alt="Relative, in Nunjucks" />
  <img src="{{ hero }}" alt="Interpolated by the template engine" />
  <img src="/img/{{ name }}.jpg" alt="Half literal, half interpolated" />
  <img src="/img/missing-from-njk.png" alt="Broken on purpose" />
  <img src="/marks/%E2%82%ACuro.png" alt="A name beyond ASCII, as its UTF-8 escapes" />

  <style>
    .njk-hero {
      background-image: url('/img/hero.jpg');
    }
  </style>
{% endblock %}
